<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h3>Thank You For Your Pre-Order, <%= @user.name %>.</h3>
    <strong>What now?</strong> Just sit back and relax while our robots crank out the composite for your event.  We'll contact you shortly to complete your order.<br><br>

Sincerely,<br>
The YO! Moments Team  

  </body>
</html>