<!--header-->
	<div class="header">
		<div class="container">	
			<div class="logo">
				 <a href="/"><%= image_tag("logo.png", :id => 'YoMoments Logo') %></a></div><br>
			</div>
		</div>
	</div>				
<!--//header-->