			<div id="banner">
				<div class="container wrapper">
					<div class="inner_content pad45" >
						<a href="/"><%= image_tag("YM-Logo.png", :id => 'Yo! Moments') %></a>

					</div>
				</div>
			</div>
