<!--header-->
	<div class="header">
		<div class="container">
		
			<div class="logo">
				 <a href="/"><%= image_tag("logo.png", :id => 'YoMoments Logo') %></a></div><br>
			</div>
		</div>				
<!--//header-->
			<div id="banner">
				<div class="container wrapper">
					<div class="inner_content">
						<h1 class="title">San Diego Startup Boost Event</h1>
						<h1>July 12, 2013</h1>
						<div class="composite">
				 			<a href="/"><%= image_tag("sdboost/yomo.jpg", :id => 'Startup Boost San Diego Composite') %></a><br>
				 			
						</div>
						<div class="follow_us zocial">
				 			<a href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fyomo.us%2Fsdboost&media=http%3A%2F%2Fyomo.us%2Fsdboost%2Fyomo.jpg&description=Yo!%20Pin%20it" data-pin-do="buttonPin" data-pin-config="above"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
				 		</div>
					</div>
				</div>
			</div>
		
			<div id="footer2">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="copyright2">
									Yo! Moments
									&copy;
									<script type="text/javascript">
									//<![CDATA[
										var d = new Date()
										document.write(d.getFullYear())
										//]]>
										</script>
									 - All Rights Reserved
							</div>
						</div>
					</div>
				</div>
			</div>

	</div>
<!--end-->