<!DOCTYPE html>
<html>
<head>
  <title>Yomo</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
	
		<meta name="twitter:card" content="photo">
		<meta name="twitter:site" content="@yomoments">
		<meta name="twitter:creator" content="@shaaaaawn">
		<meta name="twitter:title" content="SDBoost San Diego - July 12, 2013">
		<meta name="twitter:image:src" content="http://yomo.us/assets/sdboost/twittercardsphoto"> 
	
		<script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>